.modal-settings {

    margin: 0 auto;
    margin-top: 50vh;
    transform: translateY(-50%);
    width: 480px;
    padding: 24px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);

    .head {

        align-self: stretch;
        color: #101828;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px; 
        margin-bottom: 20px;
        
    }
}